asn1crypto==1.5.1
base58==1.0.3
bigchaindb-driver==0.6.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cryptoconditions==0.8.0
cryptography==2.3.1
Flask==2.1.1
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
pyasn1==0.4.8
pycparser==2.21
PyNaCl==1.1.2
pysha3==1.0.2
python-rapidjson==0.6.3
python-rapidjson-schema==0.1.1
requests==2.27.1
six==1.16.0
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
